/* Main side container */
.middle-panel {
  background: var(--glass-effect);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 4px 20px var(--dark-glass);
  transition: var(--transition-default);
  margin-top: 50px;
  width: 280px;
  padding-top: 10px;
  opacity: 1;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.dark-theme .middle-panel {
  background: var(--secondary-dark);
}

.middle-panel.closed {
  width: 80px;
  opacity: 1;
  transform: translateX(0);
  padding: 10px 0;
}

/* Close side panel btn */
.close-mid-btn {
  font-size: 1.5rem;
  color: var(--sidebar-text-light);
  transition: var(--transition-default);
  display: flex;
  justify-content: center;
}

/* Chat list styles */
.chat-list {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
}

/* Styles for chat list buttons */
.chat-list button {
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
  color: var(--chat-text-color, #000);
}

/* Hover effects */
.chat-list button:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

/* Dark theme button styles */
.dark-theme .chat-list button {
  color: #fff;
}

.dark-theme .chat-list button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Active state styles */
.chat-list button.active {
  background: rgba(0, 0, 0, 0.07);
}

.dark-theme .chat-list button.active {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}

/* Minimized chat list styles */
.chat-list-minimized {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.chat-list-minimized button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
  color: var(--chat-text-color, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.dark-theme .chat-list-minimized button {
  color: #fff;
}

.chat-list-minimized button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chat-list-minimized button.active {
  background: rgba(0, 0, 0, 0.1);
}

.dark-theme .chat-list-minimized button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark-theme .chat-list-minimized button.active {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Fixed bottom area */
.bottom-area {
  margin-top: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

/* Button styles for the fixed bottom area */
.bottom-area button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--icon-color, #000);
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Dark theme button styles */
.dark-theme .bottom-area button {
  color: #fff;
}

.bottom-area button:hover {
  transform: scale(1.1);
  background: none;
}

.bottom-area button:active {
  transform: scale(0.95);
}
