/* Middle panel */
.middle-panel {
  background: var(--glass-effect);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  box-shadow: 0 4px 20px var(--dark-glass);
  transition: var(--transition-default);
  margin-top: 50px;
}

.middle-panel {
  width: 280px;
  padding: 16px;
  opacity: 1;
  transform: translateX(0);

  /* Appear animation */
  animation: var(--transition-default);
}

.dark-theme .middle-panel {
  background: var(--secondary-dark);
}

.middle-panel.closed {
  width: 0;
  opacity: 0;
  transform: translateX(-20px);
  padding: 0;
  margin: 0;
}

.close-mid-btn {
  display: none;
}
